

*{
    margin: 0;
    padding: 0;
    font-family: 'popins'sans-serif;
}
.header_left img{
    height: 40px;
}
.user_avatar{
    border-radius: 50%;
    width: 45px;
}
.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0 5px 10px -9px rgb(0,0,0,0.75);
    
}
.header_left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header_input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 1000px;
}
.header_input input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}
.header_middle{
    display: flex;
    flex: 1;
    justify-content: center;
}
.header_option .material-symbols-outlined{
    font-size: xx-large;
    color: grey;
    
}
.header_option:hover .material-symbols-outlined{
    color: #2e81f4;
}
.header_option{
    display: flex;
    align-items: center;
    padding: 0px 30px;
    cursor: pointer;
}
.header_option.active .material-symbols-outlined{
   color: #2e81f4; 

}
.header_option.active{
    border-bottom: 4px solid #2e81f4;
}
.header_option:hover{
    background-color:lightgrey;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}
.header_info{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header_info:hover{
    background-color: #c6c8cb;
    border-radius: 50px;
    padding-right: 35px;
    transition: 500ms;
   
}
.header_info h4{
    margin-left: 10px;
}
.header_right{
    display: flex;
    align-items: center;
}
.header_right .material-symbols-outlined{
    color: gray;
    margin: 1px 10px;
    cursor: pointer;
}
.header_right .material-symbols-outlined:hover{
    color: #5a77a0;
   transform: scale(1.1);
}
/* side bar */
.sidebarRow{
    display: flex;
    align-items: center;
    padding: 10px ;
    cursor: pointer;
}
.sidebarRow:hover{
    background-color: lightgrey;
}
.sidebarRow h4{
    margin-left: 17px;
    font-weight: 550;
}
.sidebarRow .material-symbols-outlined{
    font-size: xx-large;
    color: #2e81f4;

}
/* story in body */
.story{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition:  200ms ease-in;

}
.story:hover{
    transform: scale(1.09);
}
.story_avatar{
    margin: 10px;
}
.story h4{
    position: absolute;
    color: white;
    bottom: 20px;
    left: 20px;
}
.storyReel{
    padding: 10px 0cm;
    display: flex;
}
.main_body{
    display: flex;
    
}
body{
    background-color: #f1f2f5;
}
.feed{
    flex: 1;
    padding: 30px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar{
    padding: 25px 10px;
    flex: 0.33;
}
/* message sender */
.messageSender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}   
.messageSender_top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}
.messageSender_top form{
    flex: 1;
    display: flex;
}
.messageSender_top form input{
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2fe;

}

.messageSender_bottom{
   display: flex;
   align-items: center;
    justify-content: space-evenly;
    

}
.messageSender_option{
    padding: 8px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
    
}
.messageSender_option h3{
    display: flex;
    font-size: medium;
    margin-left: 10px;
    
}
.messageSender_option:hover{
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
}

/* post */
.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
   

}
.post_image img{
    width: 100%;
}
.post_top{
    display:flex;
    position: relative;
    align-items: center;
    padding: 15px;
}
.post_avatar{
  margin-right: 10px;  
}
.post_topinfo h3{
    font-size: medium;
}
.post_topinfo p{
    font-size: small;
    color: gray;
}
.post_bottom{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;

}
.post_options{
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: grey;
    cursor: pointer;
    padding: 15px;
}
.post_optioN{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}
.post_optioN:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    transform: scale(1.1);
}
.post_optioN .material-symbols-outlined:hover{
    color: #0d6aec;
}

